body {
  height: 100vh;
  position: relative;
}

.list-item {
  cursor: pointer;
  width: 300px;
  border-bottom: 1px solid hsl(200, 100%, 30%);
  padding: 1rem 2rem;
  margin: 0.5rem;
  border-radius: 10px;
  background-color: hsl(200, 100%, 50%);
  font-size: 2rem;
  text-align: center;
  color: azure;
}

.list-item:hover {
  color: black;
  text-decoration: line-through;
}

label {
  font-size: 1.3rem;
}

input {
  padding: 1rem 2rem;
  font-family: monospace;
  margin-left: 2rem;
}

button {
  border: 1px solid hsl(200, 100%, 30%);
  border-radius: 0.6rem;
  margin-left: 2rem;
  outline: none;
  background: none;
  padding: 0.8rem 2rem;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    hsl(200, 100%, 50%) 50%
  );
  background-size: 230%;
  transition: all 0.8s;
  cursor: pointer;
}

button:hover {
  color: #fff;
  background-position: 100%;
}
